.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.startPhoto{
    width: 500px;
    transition: 0.5s;
}
.start h1{
    font-size: 50px;
    color: #fff;
    text-shadow: 3px 3px #000;
}
.startPhoto:hover{
    width: 530px;
    transition: 0.5s;
}
/*-----------------*/
body{
    background-color: blanchedalmond;
}
.game .heading{
    font-size: 60px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFF200;
    text-shadow: 3px 2px #000;
}
.game .description{
    text-align: center;
    font-size: 30px;
    text-shadow: 4px 4px #FFF200;
    padding-bottom: 50px;
}
.selectPlayerNumber{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-left: 20px;
}
.onePlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.onePlayer h2{
    font-size: 40px;
    color: #000;
    text-shadow: 3px 2px #FFF200;
}
.twoPlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.twoPlayer h2{
    margin-right: 50px;
    font-size: 40px;
    color: #000;
    text-shadow: 3px 2px #FFF200;
}

/*GAME WITH ONE PLAYER*/

.gameWithOnePlayer .score{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}
.gameWithOnePlayer .yourScoreOnePlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameWithOnePlayer .aiScoreOnePlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameWithOnePlayer .winsAndLoses{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.gameWithOnePlayer .winsOne span{
    font-size: 30px;
}
.gameWithOnePlayer .losesOne span{
    font-size: 30px;
}
.gameWithOnePlayer .yourScoreOnePlayer{
    font-size: 30px;
}
.gameWithOnePlayer .aiScoreOnePlayer{
    font-size: 30px;
}
.gameWithOnePlayer .gameMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameWithOnePlayer .gameMain .gameImages{
    display: flex;
    gap: 300px;
}
.gameWithOnePlayer .gameMain .firstImage , .secondImage{
    width: 400px;
}
.gameWithOnePlayer .buttons{
    display: flex;
    gap: 100px;
}
.gameWithOnePlayer .buttons button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: #FFF200;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*GAME WITH TWO PLAYERS*/

.gameWithTwoPlayer .score{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}
.gameWithTwoPlayer .yourScoreOnePlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameWithTwoPlayer .aiScoreOnePlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameWithTwoPlayer .winsAndLoses{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.gameWithTwoPlayer .winsOne span{
    font-size: 30px;
}
.gameWithTwoPlayer .losesOne span{
    font-size: 30px;
}
.gameWithTwoPlayer .turns span{
    font-size: 30px;
}
.gameWithTwoPlayer .yourScoreOnePlayer{
    font-size: 30px;
}
.gameWithTwoPlayer .aiScoreOnePlayer{
    font-size: 30px;
}
.gameWithTwoPlayer .gameMain2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameWithTwoPlayer .gameMain2 .gameImages{
    display: flex;
    gap: 300px;
}
.gameWithTwoPlayer .gameMain2 .firstImage2 , .secondImage2{
    width: 400px;
}
.gameWithTwoPlayer .buttons{
    display: flex;
    gap: 100px;
}
.gameWithTwoPlayer .buttons button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid gray;
    background-color: #FFF200;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
